/**
 * Hack for IE6 
 * because of the position relative bug
 */
.body-fix {
  _height: 100%;
  _zoom: 1;
  _position: relative;
}
.kb-mask {
  position: fixed;
  _position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  _width: 100%;
  _height: 100%;
  background: #000;
  opacity: 0.75;
  -ms-filter: opacity(75);
  filter: opacity(75);
  z-index: 10000;
}
.kb-dialog {
  position: fixed;
  _position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  _width: 100%;
  _height: 100%;
  text-align: center;
  z-index: 10001;
}
.kb-dialog a,
.kb-dialog a:hover,
.kb-dialog a:active,
.kb-dialog a:focus,
.kb-dialog a:visited {
  text-decoration: none;
  color: white;
  outline: 0;
  cursor: pointer;
}
.kb-dialog img {
  zoom: 1;
  border: 0;
  outline: 0;
}
.kb-dialog:after {
  content: "";
}
.kb-dialog:after,
.kb-dialog-refer {
  width: 0;
  height: 100%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
/**
 * IE 6 position absolute 
 * relative 必须渗透到body 否则无效
 */
.kb-dialog-content,
.kb-slider-screen {
  _position: relative;
  _height: 100%;
  text-align: left;
}
.kb-dialog-wrapper {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  background: #eee;
  width: 860px;
  min-height: 100px;
  _height: 100px;
  zoom: 1;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  opacity: 0;
  box-shadow: 0 0 2px 0 #fff inset, 0 0 10px 0 #222;
}
.kb-dialog-close-wrapper {
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 1;
  display: block;
  width: 30px;
  height: 30px;
}
.kb-dialog-close-wrapper .kb-warn {
  display: none;
  float: right;
  background-color: #666;
  color: white;
  height: 29px;
  padding: 0 10px;
  line-height: 29px;
  margin-right: 1px;
}
.kb-dialog-close-wrapper .kb-close {
  float: right;
  font-size: 29px;
  line-height: 29px;
  width: 29px;
  height: 29px;
  _line-height: -1px;
}
.kb-dialog-close-wrapper:hover {
  width: 233px;
  height: 30px;
}
.kb-dialog-close-wrapper:hover .kb-close {
  background-color: #666;
}
.kb-dialog-close-wrapper:hover .kb-warn {
  display: inline;
}
.kb-slider {
  overflow: hidden;
  height: 343px;
  position: relative;
  box-shadow: 0 0 5px 0 #333;
}
.kb-slider .kb-slider-item {
  position: absolute;
  top: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  left: 100%;
  width: 100%;
  height: 100%;
}
.kb-slider-handle {
  position: absolute;
  bottom: 0;
  width: 100%;
  _margin-bottom: 3px;
  text-align: center;
}
.kb-slider-handle .kb-slider-step {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  box-shadow: 0 0 3px 0 #333 inset;
  background-color: #595959;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.kb-slider-handle .kb-slider-cur {
  background-color: #fff;
}
.kb-slider-handle .kb-slider-prev,
.kb-slider-handle .kb-slider-next {
  bottom: 0;
  width: 10%;
  font-size: 100px;
  text-align: center;
  position: absolute;
  height: 343px;
  line-height: 343px;
}
.kb-slider-handle .kb-slider-prev {
  left: 0;
}
.kb-slider-handle .kb-slider-next {
  right: 0;
}
.kb-dialog-btn {
  width: 100%;
  position: relative;
  text-align: center;
  display: block;
  height: 120px;
  margin-top: -1px;
  box-shadow: 0 0 3px 0 #333 inset;
  padding-top: 40px;
  background-color: #c70000;
}
.kb-dialog-btn span {
  font-size: 45px;
  margin-right: 20px;
  vertical-align: middle;
}
.kb-dialog-btn img {
  vertical-align: middle;
  zoom: 1;
}
